
  <div class="container-fluid wrapper">
    <div class="row">

      <div class="col-lg-2 sidebar">
        <app-category></app-category>
        <!-- <div class="content position-fixed">
           <ul>
            <li><a><i class="fa-solid fa-burger"></i><span>Food</span></a></li>
            <li><a><i class="fa-solid fa-martini-glass-citrus"></i><span>Cold Drinks</span></a></li>
            <li><a><i class="fa-solid fa-mug-hot"></i><span>Hot Drinks</span></a></li>
            <li><a><i class="fa-solid fa-cookie-bite"></i><span>Sweets</span></a></li>
           </ul>
        </div> -->
      </div>

      <div class="col-lg-10 main">
         <div class="main-card" >

          <div class="row">
             <div class="col-lg-3 " *ngFor="let temp of orders">
                <div class="box">
                  <span class="price">{{temp.price | currency:'USD'}}</span>
                  <a routerLink="/order/{{temp.id}}"><img src="{{temp.image}}"></a>
                  <h3>{{temp.orderName}}</h3>
                  <a (click)="addToCart(temp)" class="btn">Add to Cart</a>
                </div>
             </div>

             <div *ngIf="orders?.length == 0" class="alert alert-danger" role="alert">
               No Order Founds
             </div>

              <!-- Start Pagination -->
              <div class="pag">

                <ngb-pagination
                   [(page)]="page"
                   [pageSize]="pageLength"
                   [collectionSize]="totalOrder"
                   [maxSize]="2"
                   [boundaryLinks]="true"
                   (pageChange)="doing()"
                >
                </ngb-pagination>

                <div class="sel">
                  <select (change)="pageSize($event)">
                    <option>3</option>
                    <option selected="true">6</option>
                    <option>9</option>
                  </select>
                </div>

              </div>
              <!-- End Pagination -->

         </div>

      </div>

    </div>
  </div>



