
.sidebar{
  background-color: black;
  min-height: 100vh;
  color: #fff;
}

/* .sidebar .content{
  padding-top: 100px;
}

.sidebar .content ul{
  list-style: none;
  font-size: 2rem;
  padding-left: 30px;
}

.sidebar .content ul li{
  margin-top: 50px;
}


.sidebar .content ul li span{
  margin: 8px;
}

.sidebar .content ul li span:hover{
  cursor: pointer;
  color: #ff3838;
} */

.main{
  min-height: 100vh;
  padding-top: 70px;
}
/*
.main .main-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding-top: 100px;
} */


.main .box{
  margin: 15px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  text-align: center;
  position: relative;
}



.main .box img{
  height: 14rem;
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
}

.main .box .price{
  position: absolute;
  top: 3rem; left: 3rem;
  background: #ff3838;
  color: #fff;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
}

.main .box h3{
  color: #333;
  font-size: 1.7rem;
  padding-top: 1rem;
}


 /* start pagination */

 .pag
 {
   display: flex;
   justify-content: center;
   gap: 3rem;
   margin-top: 10px;
   margin-bottom: 15px;
 }


 .sel{
  font-size: 1.5rem;
 }

 /* end pagination */








@media(max-width:991px){
   .sidebar{
     display: none;
   }
}

@media(max-width:1200px){
  .sidebar .content ul{
    font-size: 1.8rem;
    padding-left: 15px;
  }
}
