
  <div class="container-fluid wrapper">
    <div class="row">

      <div class="col-lg-2 sidebar">
        <div class="content">
           <ul>
            <li><a><i class="fas fa-home p-1"></i><span>Food</span></a></li>
            <li><a><i class="fas fa-home p-1"></i><span>Cold Drinks</span></a></li>
            <li><a><i class="fas fa-home p-1"></i><span>Hot Drinks</span></a></li>
            <li><a><i class="fas fa-home p-1"></i><span>Sweets</span></a></li>
           </ul>
        </div>
      </div>

      <div class="col-lg-10 main">
         <div class="main-card">

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn">Go somewhere</a>
            </div>
          </div>

         </div>
      </div>

    </div>
  </div>



