.wrapper{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper form{
  width: 60%;
}

.wrapper form .data .datalabel{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   background-color: #ff3838;
   color: #fff;
}

.wrapper .input-group input{
  padding: 10px;
  font-size: 1.6rem;
}

.wrapper .input-group span{
  font-size: 1.5rem;
}


.wrapper .input-group select{
  font-size: 1.6rem;
}


.wrapper .bill-address .billlabel{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ff3838;
  color: #fff;
}

.wrapper .shipping-address .shippinglabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ff3838;
  color: #fff;
}

.wrapper .card-type .cardlabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ff3838;
  color: #fff;
}


.wrapper form .check-out{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-check{
  font-size: 1.5rem;
}



.wrapper .alert{
  padding: 5px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}



