



<!-- start home section -->
<section class="home" id="home">
  <div class="container">
    <div class="row">

      <div class="col-lg content">
        <h3>food made with love</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
           Nam porro cupiditate nisi, deserunt maiores vero amet laudantium
           obcaecati recusandae magni.
        </p>
        <a href="#" class="btn">order now</a>
      </div>

      <div class="col-lg image">
        <img src="../assets/img/home-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- end home section -->



<!-- start speciality section -->
<section class="speciality" id="speciality">
  <h1 class="heading">our <span>speciality</span> dishes</h1>
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="box">
          <img class="image" src="../assets/img/s-img-1.jpg" alt="">
          <div class="content">
            <img src="../assets/img/s-1.png" alt="">
            <h3>tasty burger</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis
               harum porro blanditiis at voluptatibus dicta esse quasi nisi voluptates.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <img class="image" src="../assets/img/s-img-2.jpg" alt="">
          <div class="content">
            <img src="../assets/img/s-2.png" alt="">
            <h3>tasty pizza</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis
               harum porro blanditiis at voluptatibus dicta esse quasi nisi voluptates.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <img class="image" src="../assets/img/s-img-3.jpg" alt="">
          <div class="content">
            <img src="../assets/img/s-3.png" alt="">
            <h3>cold ice cream</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis
               harum porro blanditiis at voluptatibus dicta esse quasi nisi voluptates.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <img class="image" src="../assets/img/s-img-4.jpg" alt="">
          <div class="content">
            <img src="../assets/img/s-4.png" alt="">
            <h3>cold drink</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis
               harum porro blanditiis at voluptatibus dicta esse quasi nisi voluptates.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <img class="image" src="../assets/img/s-img-5.jpg" alt="">
          <div class="content">
            <img src="../assets/img/s-5.png" alt="">
            <h3>tasty sweets</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis
               harum porro blanditiis at voluptatibus dicta esse quasi nisi voluptates.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <img class="image" src="../assets/img/s-img-6.jpg" alt="">
          <div class="content">
            <img src="../assets/img/s-6.png" alt="">
            <h3>breakfase</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis
               harum porro blanditiis at voluptatibus dicta esse quasi nisi voluptates.
            </p>
          </div>
        </div>
      </div>

    </div> <!--end row -->
  </div>
</section>
<!-- end speciality section -->


<!-- start popular section -->
<section class="popular" id="popular">
  <h1 class="heading"> most <span>popular</span> foods </h1>
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="box">
          <span class="price"> $5 - $20 </span>
          <img src="../assets/img/popular-section/testy-burger.jpg" alt="">
          <h3>testy burger</h3>
          <div class="stars">
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star-half-alt text-warning star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <span class="price"> $5 - $20 </span>
          <img src="../assets/img/popular-section/testy-cake.jpg" alt="">
          <h3>testy cakes</h3>
          <div class="stars">
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fa-regular fa-star star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <span class="price"> $5 - $20 </span>
          <img src="../assets/img/popular-section/testy-sweet.jpg" alt="">
          <h3>testy sweets</h3>
          <div class="stars">
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <span class="price"> $5 - $20 </span>
          <img src="../assets/img/popular-section/cupcake.jpg" alt="">
          <h3>testy cupcakes</h3>
          <div class="stars">
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <span class="price"> $5 - $20 </span>
          <img src="../assets/img/popular-section/cold-drink.jpg" alt="">
          <h3>cold drinks</h3>
          <div class="stars">
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <span class="price"> $5 - $20 </span>
          <img src="../assets/img/popular-section/ice-cream.jpg" alt="">
          <h3>ice cream</h3>
          <div class="stars">
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
            <i class="fas fa-star text-warning star"></i>
          </div>
          <a href="#" class="btn">order now</a>
        </div>
      </div>

    </div> <!--end row -->
  </div>
</section>
<!-- end popular section -->


<!-- start steps -->
<section class="steps">
  <h1 class="heading"> how it <span> works </span> </h1>
  <div class="box">
    <img src="../assets/img/service-section/food.jpg" alt="">
    <h3>choose your favorite food</h3>
  </div>

  <div class="box">
    <img src="../assets/img/service-section/delevery.jpg" alt="">
    <h3>free and fast delivery</h3>
 </div>

 <div class="box">
  <img src="../assets/img/service-section/payment.jpg" alt="">
  <h3>easy payment methods</h3>
 </div>

 <div class="box">
  <img src="../assets/img/service-section/enjoyFood.jpg" alt="">
  <h3>and finally, enjoy your food</h3>
 </div>

</section>
<!-- end steps -->


<!--start gallery section -->
<section class="gallery" id="gallery">
   <h1 class="heading">our food <span> gallery </span> </h1>
   <div class="container">
     <div class="row">

        <div class="col-lg-4">
           <div class="box">
              <img src="" alt="">
              <div class="content">
                 <h3>testy food</h3>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores earum incidunt saepe similique officiis tempora ullam minus totam nam non repudiandae corrupti exercitationem atque perferendis accusantium autem quod, provident cupiditate.</p>
                 <a href="#" class="btn">order now</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="box">
              <img src="" alt="">
              <div class="content">
                 <h3>testy food</h3>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores earum incidunt saepe similique officiis tempora ullam minus totam nam non repudiandae corrupti exercitationem atque perferendis accusantium autem quod, provident cupiditate.</p>
                 <a href="#" class="btn">order now</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="box">
              <img src="" alt="">
              <div class="content">
                 <h3>testy food</h3>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores earum incidunt saepe similique officiis tempora ullam minus totam nam non repudiandae corrupti exercitationem atque perferendis accusantium autem quod, provident cupiditate.</p>
                 <a href="#" class="btn">order now</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="box">
              <img src="" alt="">
              <div class="content">
                 <h3>testy food</h3>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores earum incidunt saepe similique officiis tempora ullam minus totam nam non repudiandae corrupti exercitationem atque perferendis accusantium autem quod, provident cupiditate.</p>
                 <a href="#" class="btn">order now</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="box">
              <img src="" alt="">
              <div class="content">
                 <h3>testy food</h3>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores earum incidunt saepe similique officiis tempora ullam minus totam nam non repudiandae corrupti exercitationem atque perferendis accusantium autem quod, provident cupiditate.</p>
                 <a href="#" class="btn">order now</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
           <div class="box">
              <img src="" alt="">
              <div class="content">
                 <h3>testy food</h3>
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores earum incidunt saepe similique officiis tempora ullam minus totam nam non repudiandae corrupti exercitationem atque perferendis accusantium autem quod, provident cupiditate.</p>
                 <a href="#" class="btn">order now</a>
              </div>
           </div>
        </div>

     </div>
   </div>
</section>
<!--end gallery section -->
