<div class="content position-fixed">

  <ul >
    <li>
      <a routerLinkActive="active" routerLink="/orders"><i class="fa-solid fa-utensils"></i><span>All Orders</span></a>
    </li>
   <li *ngFor="let temp of categories">
     <a routerLinkActive="active" routerLink="/category/{{temp.id}}"><i class="{{temp.categoryLogo}}"></i><span>{{temp.categoryName}}</span></a>
   </li>

   <!-- <li><a><i class="fa-solid fa-burger"></i><span>Food</span></a></li>
   <li><a><i class="fa-solid fa-martini-glass-citrus"></i><span>Cold Drinks</span></a></li>
   <li><a><i class="fa-solid fa-mug-hot"></i><span>Hot Drinks</span></a></li>
   <li><a><i class="fa-solid fa-cookie-bite"></i><span>Sweets</span></a></li> -->
  </ul>
</div>
