.wrapper{
  margin-top: 100px;
}

.wrapper .card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 15px auto;

}

.wrapper .card .sub-title{
  height: 100%;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 12px;
  color: white;
}

.wrapper .card .sub-title span{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.wrapper .card .sub-title span.num{
  font-size: 20px;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
}


.wrapper .card .top-total{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff3838;
  padding: 1% 8%;
  color: #fff;
  font-size: 2rem;
}

.wrapper .card .top-price{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #666;
  padding: 1% 8%;
  color: #fff;
  font-size: 2rem;
}


.wrapper .card .btn{
   width: 100%;
   background-color: #ff3838;
   color: #fff;
   font-size: 1.7rem;
}



/* Start Check Out */
.check-out{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 30px;
  background-color: white;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
}
/* End Check Out */



/* media queries */

/* Desktop & Laptop----- from 1024px */
@media(min-width: 1024px){
  .check-out{
    font-size: 2rem;
  }
}

/* Tablets & iPads-------- between 768px to 1023px */
@media(min-width: 769px) and (max-width: 1023px){
  .check-out{
    font-size: 1.9rem;
  }
}


/* Mobile & Smart Phones ----- 0 to 768px */
@media(max-width: 768px){
  .check-out{
    font-size: 1.5rem;
    width: 40%;
  }
}


/* Small Phones ----- 0 to 468px */
@media(max-width: 468px){

  .wrapper .card .sub-title{
    height: 100%;
    min-width: 50%;
  }

  .check-out{
    font-size: 1.1rem;
    width: 40%;
  }
  .check-out button{
    font-size: 1rem;
  }
}

