<section>
  <div class="card">
    <span class="price">{{order.price | currency:'USD'}}</span>
    <img src="{{order.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{order.orderName}}</h5>
      <p class="card-text">{{order.description}}</p>
      <a href="#" class="btn">Add To Cart</a>
    </div>
  </div>
</section>







<!-- <div class="container">
  <div class="row ">
    <div class="col-md-4 offset-md-3">
      <div class="card text-center text-white">
        <a><img src="../../../assets/img/hamburger.jpg" style="width: 100%;" height="133"></a>
        <div class="card-body">
          <a><h5 class="card-title">choclate</h5></a>
          <p class="price">{{5 | currency:'USD'}}</p>
          <p class="card-text">kdjfsldkjfskldjfksl</p>
          <i routerLink="/order" class="fas fa-undo backword"></i><button >Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
