section{
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  width: 50%;
}

section .card img{
  font-size: 3rem;
}

section .card .price{
  position: absolute;
  top: 1rem; left: 1rem;
  background: #ff3838;
  color: #fff;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
}

section .card .card-title{
  font-size: 3rem;
}

section .card .card-text{
  font-size: 2rem;
}

@media(max-width:1200px){
  section{
    width: 60%;
  }
  section .card .card-title{
    font-size: 2rem;
  }

  section .card .card-text{
    font-size: 1.5rem;
  }
}

.card .card-body div,i{
  margin-top: 20px;
  cursor: pointer;
}

.card .card-body span{
  font-size: 1.7rem;
  color: #b1aeae;
}


@media(max-width:1000px){
  section{
    width: 80%;
  }
}

@media(max-width:400px){
  section{
    width: 90%;
  }
}






